<h3> Hello <%= @user.name %>, </h3>

<p> Below is your API token and email adress for API authentication. </p>

<p> Token: <b> <%= @user.api_token %> </b>, email: <b> <%= @user.email %> </b> </p>

<p> Please keep it in secret. </p>

<p> Have a nice day ! :) </p>