<% provide(:title, 'All users') %>
<div class="user_index">
<h2>All users</h2>
</div>
<div class="col-md-8 col-md-offset-4" >
<%= will_paginate :previous_label => '&laquo;', :next_label => '&raquo;' %>
</div>

<ul class="users col-md-6">
  <%= render @users %>
</ul>
<div class="col-md-8 col-md-offset-4" >
<%= will_paginate :previous_label => '&laquo;', :next_label => '&raquo;' %>
</div>
